{% extends 'layout.html' %}

{% block body %}

<h1>Login</h1>
<form action="{{ url_for('login') }}" method="post">
    <div class="form-group">
      <label for="usr">Name:</label>
      <input type="text" class="form-control" name = "usr" id="usr">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" name = "pwd" id="pwd">
    </div>


    <input type="submit" class="btn btn-info" value="Submit">
</form>

{% endblock %}